# Ignore everything
__pycache__/
AirPros/
Archive/
Docker/
UrbanScienceScraper/
Web_Scraping/


# But not these!
# !/src/
# !/src/**

# Optional: allow specific files in root
# !.gitignore
# !README.md